[submodule "Dependencies/KlemmUI"]
	path = Dependencies/KlemmUI
	url = https://github.com/Klemmbaustein/KlemmUI
[submodule "Dependencies/curl"]
	path = Dependencies/curl
	url = https://github.com/curl/curl.git
[submodule "Dependencies/json"]
	path = Dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "Dependencies/libwebp"]
	path = Dependencies/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "Dependencies/7zip"]
	path = Dependencies/7zip
	url = https://github.com/7zip-dev/7zip.git
[submodule "Dependencies/pugixml"]
	path = Dependencies/pugixml
	url = https://github.com/zeux/pugixml.git
